/*  UNIVERSAL */
/* Ensure padding and border are included in t.width & height*/
*{
  box-sizing:border-box;
  font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

/* THE GRID */

[class*="col-"]{
  float:left;
  padding:15px;

}
.row{
  width:100%;
}

.row::after{
  content:"";
  clear:both;
  display:table;
}

/*  LAYOUT */

body{
   margin: 0;
   padding:0;
   overflow-x: hidden;
}
nav{

  color: #fff;
  background-color: #29b6f6 ;
  margin:0;
  padding:0;
  width: 100%;
  height: inherit;
  line-height: 56px;
}

footer{
  padding: 10px 0px;
  color:rgba(51, 51, 51, 0.0)8;
  background-color: #ff9800 !important;
  width: 100%;
  color: white;
  text-align: center;
}



/*  CONTAINER */


.container{

  padding:5px 10px;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(51, 51, 51, 0.8);
  position: fixed;
  z-index: 1; /* Sit on top */
  top:0;
  left:0;
  right:0;
  width:60%;
  margin: 5% auto;
  overflow: auto;
}

.banner{
  height: 150px;
  background: url("/static/bg.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.divider {
  height: 15px;
}

.slider{
  width:100%;
  height: 50px;

}
#close{
  text-align: right;
  color: white;
}

.right{
  float:right;
}
.clear{
  content:"";
  clear:both;
  display:table;

}
.wrapper{
  width: 50%;
}

.container-wrapper{
  width: 100%;
  height:inherit;

  background: #f7f7f7;
   border-bottom:1px solid #ff9800;

}

.wrap{
  width:100%;
  height: 100%;
    padding:0px 10px;

}
#preferences,#email,#password{
  display:none;
}


.menu-icon{
  float:left;
  display:none;
}

.round{
  width:50%;
  margin:0 auto;
}

.user{
  display: none;
}
.center {
  width:90%;
    margin:0 auto;
}

.header{
  border-bottom:1px solid #ff9800;
}

/*  SPACING */
.space-50 {
    height:50px;
}
.space-100 {
    height:100px;
}

.padding-bottom {
  padding-bottom: 30px;
}

nav form{
  float:right;
}
/*  MESSAGING */

.flash {
  position: absolute;
  right: 0;
  bottom:100px;
  margin:5px;
  z-index:2px;

  background-color: #ff9800 !important;
  text-decoration: none;
  color:white;

  width: 100px;
}

.flash li {
  list-style-type: none;
   padding: 10px 10px;
  text-align: center;

}


/*  Navigation  */

ul {
    list-style-type: none;
    margin:0;
    padding:0;

}


/*  LINKS   */

a {
   text-decoration: none;

}

 li {
   display:inline-block;

}

.preferences li{
    display:block;
    text-align: center;
    padding:16px;
    text-decoration: none;
       border-bottom:1px solid #ff9800;
}

.preferences li:hover {
      display:block;
    text-align: center;
  background-color:  #ff9800;
  border-bottom:1px solid #29b6f6;
   padding:16px;
  color:white;

}

.head {
  background-color: #29b6f6;
  color:white;

}



/*  IMAGE */

#output_image{
margin: 0 auto;
}

.round img {
 background: url("/static/user.png");
 background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height:120px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrap img,nav img {
  width: 60px;
  height:60px;
  border-radius: 50%;
}

.wrap img{
  float:left;
}

.pref img{
  width: 120px;
  height:120px;
  border-radius: 50%;

}


/*  COLOR */
.orange-text{
  color:#ff9800 !important;
}

.divider.blue {
  background-color: #29b6f6 !important;
}



/*  FONTS */
h1{

  text-align: left;
    font-weight: 400;
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}


h5 {
    font-weight: 300;
    line-height: 110%;
    margin: 1.0933333333rem 0 0.656rem 0;
}

/* Form */




textarea{
  width:100%;

  background:#B3B6B7;
  margin:8px 0;

   border-radius: 25px;
  border: 2px solid rgba(51, 51, 51, 0.08);
  padding: 20px;



}
input[type=search] {
 padding: 0px 10px;

    height:40px;
}
input[type=text],input[type=password],input[type=email] {
    width:100%;
    height:40px;
    background:#B3B6B7;
    margin:8px 0;

}

input[type=submit] {
    height:40px;
    background-color: #ff9800  !important;
  border: none;
  text-transform: uppercase;
  padding: 0px 10px;
   color:white;


}


input[type=reset]{
    width:49%;
    height:40px;
    background-color:#e51c23;
    padding:6px 10px;
    margin:8px 0;

}

/*  BUTTON */

button {
  border: none;
  text-transform: uppercase;
  padding: 10px 10px;

  background-color:  #ff9800 !important;
   color:white;
}


/*  KEYFRAMES */

.item-1,
.item-2,
.item-3  {
  position: absolute;

  display: block;

  width: 60%;

  font-size: 2em;

  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.item-1{
  animation-name: anim-1;
}

.item-2{
  animation-name: anim-2;
}

.item-3{
  animation-name: anim-3;
}


@keyframes anim-1 {
  0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 5%; opacity: 1; }
  33.33%, 100% { left: 100%; opacity: 0; }
}

@keyframes anim-2 {
  0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 5%; opacity: 1; }
  66.66%, 100% { left: 100%; opacity: 0; }
}

@keyframes anim-3 {
  0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 5%; opacity: 1; }
  100% { left: 100%; opacity: 0; }
}




/*********************
  Accessibility
**********************/


 /*Keyboard Accessibility*/
*:focus{
  outline:0;
  box-shadow:0 0 10px #ff9800 ;
  border-color:#ff9800 ;
}

a:focus{
  color:#ff9800 ;
  font-weight: bold;
}

button:focus{
  background-color: #ff9800 ;
}

/* FOCUS ORDER */

/* By default the focus order follows the structure of the html page*/



/***************************
  Media Query Classes THE GRID
****************************/

@media only screen and (min-width: 768px) {

  /* For desktop */

.col-1{width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}


@media only screen and (max-width: 768px) {

    /* For mobile phones: */


  .container{
    width:90%;
  }
    /*  img */

    nav a {
    display:block;
    color:white;
    text-decoration: none;
}

 .right img{
  display:none;
}

nav form{
  display:none;
}

.menu-btn{
   width:100%;
   display: none;
}

.menu-icon{
  display: block;
}
.right{
  float:left;
}


  [class*="col-"] {
    width: 100%;
  }
}



