/*  UNIVERSAL */


.banner{
    height: 150px;
  background: url("/static/bg.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.divider {
  height: 15px;
}

.divider.blue {
  background-color: #29b6f6 !important;
}

.padding-bottom {
  padding-bottom: 30px;
}

.creator {
  float:right;
  margin: 0;
}
.creator img {
  width: 60px;
  height:60px;
  border-radius: 50%;
}

body{
   margin: 0;
   padding:0;
}

.orange-text{
  color:#ff9800 !important;
}

* {
  font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

/*  LAYOUT */


nav{

   color: #fff;
  background-color: #29b6f6 ;
  margin:0;
  padding:0;
  width: 100%;
  height: inherit;
  line-height: 56px;
}

footer{
  padding: 10px 0px;
  color:rgba(51, 51, 51, 0.0)8;
  background-color: #ff9800 !important;
  width: 100%;
  color: white;
  text-align: center;
}



/*  CONTAINER */


.container{
  left:0;
  right:0;
  width:50%;
   padding:15px 10px;
  position: absolute;
  margin:0 auto;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(51, 51, 51, 0.8);

}

.row{
  width:100%;
}
.slider{
  width:100%;
  height: 50px;
  overflow: hidden;

}
#close{
  text-align: right;
  color: white;
}

.right{
  width:40%;
  float:right;
}
.wrapper{
  width: 50%;
}

.container-wrapper{
  width: 100%;
  padding: 10px 0px;
   background-color: rgba(51, 51, 51, 0.8);

}

.wrap{
  width:100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.8);

    overflow: hidden;
}


.round{
  width:50%;
  margin:0 auto;
}

.user{
  display: none;
}
.center {
    width:90%;
    margin:0 auto;
}


/*  SPACING */
.space-50 {
    height:50px;
}
.space-100 {
    height:100px;
}


/*  MESSAGING */

.flash {
  position: absolute;
  right: 0;
  bottom:100px;
  margin:5px;
  z-index:2px;

  background-color: #ff9800 !important;
  text-decoration: none;
  color:white;

  width: 100px;
}

.flash li {
  list-style-type: none;
   padding: 10px 10px;
  text-align: center;

}


/*  Navigation  */

ul {
    list-style-type: none;
    margin:0;
    padding:0;

}


/*  LINKS   */

a {
   text-decoration: none;

}

 li {
   display:inline-block;

}

li a {
    display:block;
    color:white;
    text-align: center;
    padding:16px;
    text-decoration: none;
}


/*  IMAGE */

#output_image{
margin: 0 auto;
}

.round img {
 background: url("/static/user.png");
 background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height:120px;
  border-radius: 50%;
  margin: 0 auto;
}


/*  FONTS */
h1{

  text-align: left;
    font-weight: 400;
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}


h5 {
    font-weight: 300;
    line-height: 110%;
    margin: 1.0933333333rem 0 0.656rem 0;
}

/* Form */

form{
  width: 80%;
  margin:0 auto;
}


textarea{
  width:100%;

  background:#B3B6B7;
  margin:8px 0;

   border-radius: 25px;
  border: 2px solid rgba(51, 51, 51, 0.08);
  padding: 20px;



}
input[type=search] {
 padding: 10px 10px;
}
input[type=text],input[type=password],input[type=email] {
    width:100%;
    height:40px;
    background:#B3B6B7;
    margin:8px 0;

}

input[type=submit] {
    width:49%;
    height:40px;
    background-color:#4CAF50;
    padding:6px 10px;
    margin:8px 0;

}


input[type=reset]{
    width:49%;
    height:40px;
    background-color:#e51c23;
    padding:6px 10px;
    margin:8px 0;

}

/*  BUTTON */

button {
  border: none;
  text-transform: uppercase;
  padding: 10px 10px;

  background-color:  #ff9800 !important;
   color:white;
}


/*  KEYFRAMES */

.item-1,
.item-2,
.item-3  {
  position: absolute;

  display: block;

  width: 60%;

  font-size: 2em;

  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.item-1{
  animation-name: anim-1;
}

.item-2{
  animation-name: anim-2;
}

.item-3{
  animation-name: anim-3;
}


@keyframes anim-1 {
  0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 5%; opacity: 1; }
  33.33%, 100% { left: 100%; opacity: 0; }
}

@keyframes anim-2 {
  0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 5%; opacity: 1; }
  66.66%, 100% { left: 100%; opacity: 0; }
}

@keyframes anim-3 {
  0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 5%; opacity: 1; }
  100% { left: 100%; opacity: 0; }
}







/*********************
  Media Query Classes
**********************/
@media only screen and (max-width: px) {

    /*     Layout   */



