{% extends "main.html" %}
{% block content %}
<body>
  <nav>
  <div class="row">
    <div class="center">
      <img onclick="showBtn()" class="menu-icon" src="/static/menu.png"/>
      <a href="{{ url_for('rafiki') }}"> <button class ="menu-btn">Home</button></a>
      <a href="{{ url_for('share') }}"><button class ="menu-btn">Open Up</button></a>
      <a href="{{ url_for('about') }}"> <button class ="menu-btn">About Rafiki</button></a>

         {% if photo %}
          <a href="{{ url_for('logout') }}"> <button class ="menu-btn">LogOut</button></a>

              <div class="right"><img src="/static/{{ photo }}"/></div>
                      <form action="{{url_for('rafiki')}}" method="post">
          <input type="search" placeholder="Search" name="search">
            <input type="submit"/>
        </form>


      {% else %}
      <button class ="menu-btn" onclick="register()">Register</button>

        <div class="right"><img src="/static/user.png"/></div>
                  <form action="{{url_for('rafiki')}}" method="post">
          <input type="search" placeholder="Search" name="search">
            <input type="submit">

        </form>

      {% endif %}

      </div>

    </div>

</nav>

<section>
  <div class="row">
    <div class="center">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class='flash'>
            <ul>
              {% for message in messages %}
                <li><strong> {{ message }} </strong> </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endwith %}

      <div class="row">
        <div class="col-5">
          <div id="login" style="display:none;">
            <div class="container">
              <a href="#"><p onclick="collapse()" id="close">X</p></a>
              <form action="{{url_for('auth')}}" method = "post" enctype=multipart/form-data>

                <label for="email">Email:</label>
                <input type ="text"  maxlength="100" required name="email">

                  <label for="pword">Password:</label>
                  <input type ="text"  maxlength="100" required name="pword">

                  <button type="submit">
                  <span aria-hidden="true"></span>Login</button>
                  <span>Become a Rafiki?<a href="#" onclick="register()">Sign up</a></span>

              </form>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-8 center">
          <div id="add_user" style="display:none;">
            <div class="container">
              <a href="#"><p onclick="collapse()" id="close">X</p></a>
              <form id="user-form" action="{{url_for('add_rafiki')}}" method = "post" enctype=multipart/form-data>

                <div class="round"><img class="round" id="output_image" "/></div>
                <input type="file" accept="image/*" onchange="preview_image(event)" name="file"><br />

                <label for="name">Enter Name:</label>
                <input pattern=".{3,}" type ="text" required title="3 characters minimum" required name="name">
                <span id="user-error"></span>

                <label for="email">Email:</label>
                <input type ="email" required name="email">

                <label for="pword">Password:</label>
                <input type ="text" required title="5 characters minimum" type ="password"  required name="pword">

                <div class="padding-bottom"></div>
                <button type="submit">Sign Up</button>

                <span>Already a Rafiki?<a href="#" onclick="login()">Sign in</a></span>
              </form>
            </div>
          </div>
        </div>
      </div>



      <h1 class="orange-text">Rafiki</h1>
      <span>Talk about what's weighing heavily on your mind here, anonymously.</span>

      <div class="row">
        <div class="col-12">
          <h5 class="item-1">Funguka</h5>
          <h5 class="item-2">Share</h5>
          <h5 class="item-3">Ongea</h5>
        </div>
      </div>

      <div class="padding-bottom"></div>
      <div class="padding-bottom"></div>

      <a href="{{ url_for('share') }}"><button>Bonga</button></a>

    </div>
  </div>
</section>
 <div class="padding-bottom"></div>
</body>

<script>

  function showBtn() {

  var elems = document.getElementsByClassName('menu-btn');

  var x = document.getElementsByClassName('menu-btn')[0]
  if (x.style.display === "block"){
    for (var i=0;i<elems.length;i+=1){
       elems[i].style.display = 'none';
     }
   }else{
         for (var i=0;i<elems.length;i+=1){
       elems[i].style.display = 'block';
     }
}
}

function register() {
  var x = document.getElementById("add_user");
  var y = document.getElementById("login");
  y.style.display = "none";

  if (x.style.display === "block") {x.style.display === "block"
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
function login() {
     var x = document.getElementById("add_user");
     x.style.display = "none";
     var y = document.getElementById("login");

  if (y.style.display === "block") {y.style.display === "block"
    y.style.display = "none";
  } else {
    y.style.display = "block";
  }
}

function collapse() {
     var x = document.getElementById("add_user");
      var y = document.getElementById("login");
     x.style.display = "none";
        y.style.display = "none";


    }

function preview_image(event)
{
 var reader = new FileReader();
 reader.onload = function()
 {
  var output = document.getElementById('output_image');
  output.src = reader.result;
 }
 reader.readAsDataURL(event.target.files[0]);
}



</script>
{% endblock %}
